body {
    margin: 0;
    padding: 0;
    height: 100vh; /* use viewport height for full screen */
    background-color: rgb(185, 185, 114);
}

.images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    height: 100%;
    padding: 20px;

}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

img {
    width: 100%; /* make the image fill the container horizontally */
    height: auto; /* maintain aspect ratio */
}

.forms {
    flex: 0 1 100%; /* set to inital size, don't grow or shrink, take full width */
    width: 100vw; /* Adjust the max width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
   display: flex;
   justify-content: center;
   z-index: 1;
   gap: 8px;
}

.submit {
    margin-top: 8px;
}

/* Media Queries for specific Screen Sizes */

/* Mobile 480 x 320 */

@media (max-width: 480px){
    .images-container {
        flex-direction: column; /* Stack items vertically for mobile */
        align-items: center; /* center items vertically for mobile */
    }
    form {
        flex-direction: column;
    }
}

/* Ipad 1024 x 768 */

@media only screen and (min-width: 1024px) and (min-height: 768px) {
    .images-container {
        flex-direction: column; /* stack items vertically for iPad */
        align-items: center; /* center items vertically for iPad */
    }
}

/* Desktop 1680 x 1050 */

@media only screen and (min-width: 1680) and (min-height: 1050) {
    .images-container {
        flex-direction: row; /* stack items horizontally for Desktop */
        justify-content: center; /* center items horizontally for Desktop */
        align-items: center; /* center items vertical for Desktop */
    }
}